**/__pycache__/
__pycache__/
*.DS_Store
*.gitattributes
**/.idea
**/.ipynb_checkpoints/

**.zip

*.vscode
**/.vscode

**.npy
*.npy

**.mat
*.mat

**.pickle
*.pickle

**.h5
*.h5
**.hdf5
*.hdf5

**.nc
*.nc
